# Data Engineering 1: Lab 04
---------------

### Task 01: Read the customers.

##### a) Create a DataFrame called customers with the customers.csv file. Print the count of customers and 5 entries to have a look at the data.

In [1]:
import pandas as pd
        
customers = pd.read_csv('DE1_Lab04_customers.csv')
customers

/var/folders/g8/ts4wj2w128q2scsf9ttnhwq40000gn/T/ipykernel_30117/616077626.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

      id                name  status                bdate          city canton
0      1        Lesia Joiner  silver  1985-07-11 21:56:26       Buelach   todo
1      2        Michael Berg    gold  1962-08-03 21:29:12    Frauenfeld   todo
2      3      Stephen Vaughn  silver  1983-03-11 11:05:41    St. Gallen   todo
3      4  Cynthia Conigliaro  bronze  1987-09-30 10:22:44        Zürich   todo
4      5     Beverly Heifner  bronze  1998-01-11 14:13:39         Uster   todo
..   ...                 ...     ...                  ...           ...    ...
994  995    Adelle Blanchard    gold  1970-01-10 01:02:49     St Gallen   todo
995  996         Randy Ramon  silver  1990-02-08 03:56:18        Gossau   todo
996  997          Lori Reyes  bronze  2001-05-31 15:39:19        Zürich   todo
997  998      Erica Martinez    gold  1971-05-24 09:04:24  Sankt Gallen   todo
998  999    Thomas Coppenger  silver  1984-05-01 10:54:29    Romanshorn   todo

[999 rows x 6 columns]

##### b) Get the count of customers per each status.

In [8]:
customers.groupby('status').count()['id']

status
bronze    326
gold      331
silver    342
Name: id, dtype: int64

##### c) Get the count of customers per each city and check the result. Clean the messy entries and print the result again.

In [10]:
customers.groupby('city').count()['name']

city
Buelach         66
Bülach          61
Frauenfeld      59
Gossau          98
Kreuzlingen     74
Romanshorn      65
Sankt Gallen    86
St Gallen       74
St. Gallen      79
Uster           65
Wil             69
Winterthur      77
Zuerich         62
Zürich          64
Name: name, dtype: int64

In [12]:
customers.city = customers.city.str.replace(r"ü", "ue", regex=True)
customers.city = customers.city.str.replace(r"Sankt", "St.", regex=True)
customers.city = customers.city.str.replace(r'St\s', "St. ", regex=True)

In [13]:
customers.groupby('city').count()['name']

city
Buelach        127
Frauenfeld      59
Gossau          98
Kreuzlingen     74
Romanshorn      65
St. Gallen     239
Uster           65
Wil             69
Winterthur      77
Zuerich        126
Name: name, dtype: int64

##### d) Add the canton information to the entries and get the count of customers per each status and canton.

In [15]:
import numpy as np
conditions = [
    (customers['city'] == 'St. Gallen') | (customers['city'] == 'Wil'),
    (customers['city'] == 'Kreuzlingen') | (customers['city'] == 'Romanshorn') | (customers['city'] == 'Frauenfeld'),
    (customers['city'] == 'Buelach') | (customers['city'] == 'Zuerich') | (customers['city'] == 'Gossau') | (customers['city'] == 'Winterthur') | (customers['city'] == 'Uster')]
choices = ['St. Gallen', 'Thurgau', 'Zuerich']
customers['canton'] = np.select(conditions, choices, default='todo')

In [17]:
customers.canton.unique()

array(['Zuerich', 'Thurgau', 'St. Gallen'], dtype=object)

### Task 02: Read the transactions.

##### a) Create a DataFrame called transactions with the transactions.csv file. Print the count of transactions and 5 entries to have a look at the data

In [19]:
import pandas as pd
        
transactions = pd.read_csv('DE1_Lab04_transactions.csv')
transactions

        id  customer  article                 date  price
0        1       628  Whiskey  2021-01-14 23:00:02   4.03
1        2       298     Coke  2021-12-29 03:51:24   2.14
2        3       908  Whiskey  2021-11-06 01:40:58   3.67
3        4       325      Gin  2021-05-24 05:51:52   4.46
4        5       242    Tonic  2021-05-17 04:21:13   4.58
...    ...       ...      ...                  ...    ...
9994  9995       864    Fries  2021-03-19 22:27:50   3.31
9995  9996       749     Coke  2021-06-11 15:43:28   2.89
9996  9997       478    Tonic  2021-07-29 01:41:24   0.97
9997  9998       807   Nachos  2021-06-03 23:36:52   1.89
9998  9999       246    Pizza  2021-10-30 17:44:13   2.93

[9999 rows x 5 columns]

##### b) Get the count of all transactions for the article whiskey.

In [22]:
transactions[transactions.article == 'Whiskey'].groupby('article').count()['id']

article
Whiskey    819
Name: id, dtype: int64

##### c) Get the count of articles per each article.

In [23]:
transactions.groupby('article').count()['id']

article
Beer         846
Burger       830
Chips        865
Coke         805
Fries        790
Gin          859
Guacamole    818
Nachos       850
Pizza        843
Popcorn      840
Tonic        834
Whiskey      819
Name: id, dtype: int64

### Task 03: Doing Analytics.

##### a) Calculate the sum of all sold articles to the customer with the name 'Beverly Heifner'.

In [25]:
customers

,id,name,status,bdate,city,canton
0,1,Lesia Joiner,silver,1985-07-11 21:56:26,Buelach,Zuerich
1,2,Michael Berg,gold,1962-08-03 21:29:12,Frauenfeld,Thurgau
2,3,Stephen Vaughn,silver,1983-03-11 11:05:41,St. Gallen,St. Gallen
3,4,Cynthia Conigliaro,bronze,1987-09-30 10:22:44,Zuerich,Zuerich
4,5,Beverly Heifner,bronze,1998-01-11 14:13:39,Uster,Zuerich
...,...,...,...,...,...,...
994,995,Adelle Blanchard,gold,1970-01-10 01:02:49,St. Gallen,St. Gallen
995,996,Randy Ramon,silver,1990-02-08 03:56:18,Gossau,Zuerich
996,997,Lori Reyes,bronze,2001-05-31 15:39:19,Zuerich,Zuerich
997,998,Erica Martinez,gold,1971-05-24 09:04:24,St. Gallen,St. Gallen
998,999,Thomas Coppenger,silver,1984-05-01 10:54:29,Romanshorn,Thurgau

In [24]:
transactions

        id  customer  article                 date  price
0        1       628  Whiskey  2021-01-14 23:00:02   4.03
1        2       298     Coke  2021-12-29 03:51:24   2.14
2        3       908  Whiskey  2021-11-06 01:40:58   3.67
3        4       325      Gin  2021-05-24 05:51:52   4.46
4        5       242    Tonic  2021-05-17 04:21:13   4.58
...    ...       ...      ...                  ...    ...
9994  9995       864    Fries  2021-03-19 22:27:50   3.31
9995  9996       749     Coke  2021-06-11 15:43:28   2.89
9996  9997       478    Tonic  2021-07-29 01:41:24   0.97
9997  9998       807   Nachos  2021-06-03 23:36:52   1.89
9998  9999       246    Pizza  2021-10-30 17:44:13   2.93

[9999 rows x 5 columns]

In [29]:
cus_trans = pd.merge(transactions, customers, left_on='customer', right_on='id')
cus_trans.drop('id_y', axis=1, inplace=True)

,id_x,customer,article,date,price,name,status,bdate,city,canton
0,1,628,Whiskey,2021-01-14 23:00:02,4.03,Carlos Balderas,silver,1995-03-27 10:44:04,Zuerich,Zuerich
1,2,298,Coke,2021-12-29 03:51:24,2.14,Patricia Crespin,bronze,1978-09-13 18:33:54,St. Gallen,St. Gallen
2,3,908,Whiskey,2021-11-06 01:40:58,3.67,Chad Foslien,silver,1998-03-01 13:35:04,Kreuzlingen,Thurgau
3,4,325,Gin,2021-05-24 05:51:52,4.46,Rick Plack,gold,1975-05-02 11:29:36,St. Gallen,St. Gallen
4,5,242,Tonic,2021-05-17 04:21:13,4.58,John Costa,bronze,2002-02-23 21:33:25,St. Gallen,St. Gallen
...,...,...,...,...,...,...,...,...,...,...
9994,9995,864,Fries,2021-03-19 22:27:50,3.31,Phillip Evans,gold,1957-06-27 07:13:29,St. Gallen,St. Gallen
9995,9996,749,Coke,2021-06-11 15:43:28,2.89,Rafael Boyd,silver,1994-04-26 20:29:32,Winterthur,Zuerich
9996,9997,478,Tonic,2021-07-29 01:41:24,0.97,Mario Yasutomi,bronze,1977-08-29 14:29:50,Romanshorn,Thurgau
9997,9998,807,Nachos,2021-06-03 23:36:52,1.89,Mary Mather,gold,1958-03-02 00:27:46,Winterthur,Zuerich
9998,9999,246,Pizza,2021-10-30 17:44:13,2.93,Eugene Langton,bronze,1978-11-27 07:02:34,Winterthur,Zuerich

##### b) Calculate the sum of all sold articles to customers from the city Uster.

In [33]:
cus_trans[cus_trans.city == 'Uster'].groupby('city')['price'].sum()

city
Uster    1931.04
Name: price, dtype: float64

##### c) Calculate the average price of all sold articles to customers from the canton Thurgau.

In [34]:
prices = cus_trans[cus_trans.canton == 'Thurgau'].groupby('canton')['price']
prices.sum() / prices.count()

canton
Thurgau    2.98469
Name: price, dtype: float64

##### d) Calculate the sum of all sold articles in the month March.

In [45]:
cus_trans.date = pd.to_datetime(cus_trans.date)
cus_trans[cus_trans.date.dt.month == 3].price.sum()

2407.74

##### e) Calculate the sum of all sold articles in the month October from customers with the status gold.

In [47]:
cus_trans[(cus_trans.date.dt.month == 10) & (cus_trans.status == 'gold')].price.sum()

969.0200000000001

##### f) Calculate the sum of all sold articles between the hours 21 to 23.

In [50]:
cus_trans[(21 <= cus_trans.date.dt.hour) & (cus_trans.date.dt.hour <= 23)].price.sum()

3755.1500000000005

##### g) Calculate the average price of all sold whiskeys to customers born after or in 1980.

In [54]:
cus_trans.bdate = pd.to_datetime(cus_trans.bdate)
prices = cus_trans[cus_trans.bdate.dt.year >= 1980].price
prices.sum() / prices.count()

2.993526064193034

##### h) Which month has the highest count of sold whiskeys?

In [63]:
cus_trans[cus_trans.article == "Whiskey"].groupby(by=[cus_trans.date.dt.month]).price.sum().sort_values(ascending=False) # 8 -> August

date
8     233.40
5     232.02
1     221.06
4     219.96
12    213.10
10    207.60
11    204.03
6     198.21
9     194.36
7     181.14
3     170.25
2     164.12
Name: price, dtype: float64

##### i) Which month has the highest amount of sold gins?

In [64]:
cus_trans[cus_trans.article == "Gin"].groupby(by=[cus_trans.date.dt.month]).price.count().sort_values(ascending=False) # 12 -> December

date
12    82
7     81
1     77
3     76
10    76
9     73
11    69
6     67
4     66
5     66
8     64
2     62
Name: price, dtype: int64

##### j) Which is the customer with the highest revenue?

In [65]:
cus_trans.groupby('customer').price.sum().sort_values(ascending=False) # 958

customer
958    68.48
985    67.03
927    65.03
908    64.36
133    63.73
       ...
301     5.57
847     5.33
364     4.70
502     4.40
728     3.00
Name: price, Length: 999, dtype: float64

##### k) Which canton has the highest revenue?

In [66]:
cus_trans.groupby('canton').price.sum().sort_values(ascending=False) # Zuerich

canton
Zuerich       14740.43
St. Gallen     9278.48
Thurgau        5912.67
Name: price, dtype: float64