# Tables
The examples are based on chapter 2 - section "Simple Text" in in Cole Nussbaumer Knaflic (2015): Storytelling with Data.

The following cells contain the code from the presentation on tables so you can follow along the video. Please note, however, that the Jupyter Notebooks html rendering engine interfers with the styling of the pandas Dataframes when displaying them inline. Therefore, the Dataframes are rendered differently in the notebook as they are styled in css/html. For example, cell borders are not shown.   
To circumvent this problem, the html/css representation of the styled dataframe can be saved to a html file (e.g. in the working folder) and opened in a browser, where it is rendered correctly.

Styled dataframes can also be exported to Excel files with the `to_excel()` method (use the `engine='openpyxl'` argument because the default Excel writer engine in pandas does not support writing styled DataFrames). However, not all styles can be saved to Excel. Excel has a more limited set of styling options compared to HTML/CSS. For example, Excel does not support gradient color scales, text alignment within cells, or text rotation.

A more detailed tutorial on table styling is included in the pandas User Guide: [Table Visualization](https://pandas.pydata.org/docs/user_guide/style.html)

In [22]:
import pandas as pd

In [23]:
import os
from dotenv import load_dotenv

In [24]:
load_dotenv()
data_folder = os.getenv('DATA_FOLDER')

work_path = os.path.join(os.getenv('OUTPUT_FOLDER'), '03_variable_types_text_tables', '03_2_tables')
if work_path and not os.path.exists(work_path):
    os.makedirs(work_path)

In [25]:
data = [
    {'Category': 'Fruit', 'Food': 'Blueberries', 'Color': 'Blue', 'Calories per serving': 42},
    {'Category': 'Fruit', 'Food': 'Banana', 'Color': 'Yellow', 'Calories per serving': 105},
    {'Category': 'Vegetable', 'Food': 'Carrot', 'Color': 'Orange', 'Calories per serving': 26},
    {'Category': 'Vegetable', 'Food': 'Eggplant', 'Color': 'Purple', 'Calories per serving': 10},
    {'Category': 'Fruit', 'Food': 'Apple', 'Color': 'Red', 'Calories per serving': 95},
    {'Category': 'Vegetable', 'Food': 'Kale', 'Color': 'Green', 'Calories per serving': 34}
]
df = pd.DataFrame(data)

## Example

In [26]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            {'selector': 'th', 'props': 'font-weight: normal; border: None;'}, # cells of header row
            {'selector': 'td', 'props': 'background-color: white; border: None;'}, # body cells for data
            
        ],
        overwrite=True
    )
    
    return styler

# This will display inline
df.style.pipe(adjust_style)

This will save to a file:

In [27]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'fruits_example.html'))

In `<our output folder>/03_variable_types_text_tables/03_2_tables/` you will now find the file `fruits_example.html`, which you can open in the browser.

If you are working in vscode or another integrated development environment you can add this folder to the workspace and preview (you might need to install a plugin) the produced html file in your development environment next to your code.

## Column Headers
Make column headers stand out above the data.

In [28]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            {'selector': 'th', 'props': 'font-weight: bold; border: None;'},
            {'selector': 'td', 'props': 'background-color: white; border: None;'},
            
        ],
        overwrite=False
    )
    return styler
df.style.pipe(adjust_style)

In [29]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'column_headers.html'))

## Alignment
Left-align text and right-align numbers for easier reading.

In [30]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    # text entries are aligned left and numerical entries right, to increase readability
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=False
    )
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            {'selector': 'th', 'props': 'font-weight: bold; border: None;'},
            {'selector': 'td', 'props': 'background-color: white; border: None;'},
            
        ],
        overwrite=False
    )
    
    return styler
df.style.pipe(adjust_style)

In [31]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'alignment.html'))

## Heavy Borders

In [32]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    # text entries are aligned left and numerical entries right, to increase readability
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=False
    )
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            # this is needed to avoid double borders from neighboring cells:
            {'selector': '', 'props': 'border-collapse: collapse;'},
            {'selector': 'th', 'props': 'font-weight: bold; background-color: black; color: white; border: 6px solid black;'},
            {'selector': 'td', 'props': 'background-color: white; border: 6px solid black;'}
        ],
        overwrite=False
    )
    
    return styler
df.style.pipe(adjust_style)

In [33]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'heavy_borders.html'))

## General Rule in Table Design

The structural elements ot the table should not distract from the data.

## Light Borders

In [34]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    # text entries are aligned left and numerical entries right, to increase readability
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=False
    )
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            # this is needed to avoid double borders from neighboring cells:
            {'selector': '', 'props': 'border-collapse: collapse;'},
            {'selector': 'th', 'props': 'font-weight: bold; background-color: silver; color: white; border: 1px solid white;'},
            {'selector': 'td', 'props': 'background-color: white; border: 1px solid silver;'},
            
        ],
        overwrite=False
    )
    styler.set_table_styles([{'selector' : '', 'props' : 'border: 2px solid white;'}], overwrite=False)
    
    return styler
df.style.pipe(adjust_style)

In [35]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'light_borders.html'))

## Minimal Borders

In [36]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=False
    )
    
    # formatting the table header
    # and the value cells
    styler.set_table_styles(
        [
            # this is needed to avoid double borders from neighboring cells:
            {'selector': '', 'props': 'border-collapse: collapse;'},
            {'selector': 'th', 'props': 'font-weight: bold; border-bottom: 1px solid grey;'},
            {'selector': 'td', 'props': 'background-color: white; border: None;'},
            
        ],
        overwrite=False
    )
    
    return styler
df.style.pipe(adjust_style)

In [37]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'minimal_borders.html'))

## Light Shading to Separate Rows or Columns

In [38]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=True
    )
    
    # formatting the table header
    # and every 2nd row
    styler.set_table_styles(
        [
            {'selector': '', 'props': 'border-collapse: collapse;'},
            {'selector': 'th', 'props': 'font-weight: bold; border-bottom: 1px solid grey;'},
            # select every even-numbered row from the body:
            {'selector': 'tbody tr:nth-child(2n)', 'props': 'background-color: #d3d3d3;'},
            # to select every odd-numbered row from the table body:
            # {'selector': 'tbody tr:nth-child(2n+1)', 'props': 'background-color: #d3d3d3;'},
            {'selector': 'td', 'props': 'border: none;'}
            
        ],
        overwrite=False
    )
    
    return styler
df.style.pipe(adjust_style)

In [39]:
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'light_shading.html'))

## Highlight Meaningful Patterns
by grouping and sorting

In [40]:
def adjust_style(styler):
    styler.hide() # hide index column
    
    # some column specific formatting
    styler.set_table_styles(
        {
            'Category': [{'selector': '','props': 'text-align: left;'}],
            'Food': [{'selector': '','props': 'text-align: left;'}],
            'Color': [{'selector': '','props': 'text-align: left;'}],
            'Calories per serving': [{'selector': '','props': 'text-align: right;'}],
        }, overwrite=False
    )
    
    # formatting the table header
    # and every 2nd row
    styler.set_table_styles(
        [
            {'selector': '', 'props': 'border-collapse: collapse;'},
            {'selector': 'th', 'props': 'font-weight: bold; border-bottom: 1px solid grey;'},
            # select every even-numbered row from the body:
            {'selector': 'tbody tr:nth-child(2n)', 'props': 'background-color: #d3d3d3;'},
            {'selector': 'td', 'props': 'border: none;'}
            
        ],
        overwrite=False
    )
    return styler

df_dedupl = df.copy(deep=True) # create a copy of the original DataFrame
df_dedupl.sort_values(by=['Category', 'Calories per serving'], ascending=[True, False], inplace=True)
df_dedupl.loc[df_dedupl['Category'].duplicated(), 'Category']='' # Keep only first occurence of each level in the column 'Category'
df_dedupl.style.pipe(adjust_style)

In [41]:
df_dedupl.style.pipe(adjust_style).to_html(os.path.join(work_path, 'table_patterns.html'))

## Extra: Including fonts in the css/html

The font-family used in the presentation slides is "Source Sans Pro"

In [43]:
# for demo purposes we pipe an extra method to the styler
# but the style could also be added directly in the adjust_style method
def add_font_prop(styler):
    styler.set_table_styles(
        [
            {'selector': '', 'props': 'font-family: "Source Sans Pro";'}
        ],

        # now it is important not to overwrite the properties defined in
        # adjust style
        overwrite=False
    )
    return styler

# Render to HTML
html = df_dedupl.style.pipe(adjust_style).pipe(add_font_prop).to_html(None)

# The "Source Sans Pro" might not be installed on your system.
# So we add the respective Google Fonts link to the HTML
html_with_font = '<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">\n' + html

# Write to file
with open(os.path.join(work_path, 'table_patterns_fancy_font.html'), 'w') as f:
    f.write(html_with_font)

## Table Design Principles
1. Make column headers stand out above the data.
2. Left-align text and right-align numbers for easier reading.
3. Let the structural components of the table not distract from the data.
4. Use light shading to separate rows or columns.
5. Group and sort data to highlight meaningful patterns.