# Tables - participate

A more detailed tutorial on table styling is included in the pandas User Guide: [Table Visualization](https://pandas.pydata.org/docs/user_guide/style.html)

In [12]:
import os
from dotenv import load_dotenv

import pandas as pd

load_dotenv()
data_folder = os.getenv('DATA_FOLDER')

work_path = os.path.join(os.getenv('OUTPUT_FOLDER'), '03_variable_types_text_tables', '03_4_participate_tables')
if work_path and not os.path.exists(work_path):
    os.makedirs(work_path)

## Exporting pandas DataFrames

In [2]:
data = [
    {'Category': 'Fruit', 'Food': 'Blueberries', 'Color': 'Blue', 'Calories per serving': 42},
    {'Category': 'Fruit', 'Food': 'Banana', 'Color': 'Yellow', 'Calories per serving': 105},
    {'Category': 'Vegetable', 'Food': 'Carrot', 'Color': 'Orange', 'Calories per serving': 26},
    {'Category': 'Vegetable', 'Food': 'Eggplant', 'Color': 'Purple', 'Calories per serving': 10},
    {'Category': 'Fruit', 'Food': 'Apple', 'Color': 'Red', 'Calories per serving': 95},
    {'Category': 'Vegetable', 'Food': 'Kale', 'Color': 'Green', 'Calories per serving': 34}
]
df = pd.DataFrame(data)

Display in Jupyter notebook:

In [3]:
df #.style.hide()

    Category         Food   Color  Calories per serving
0      Fruit  Blueberries    Blue                    42
1      Fruit       Banana  Yellow                   105
2  Vegetable       Carrot  Orange                    26
3  Vegetable     Eggplant  Purple                    10
4      Fruit        Apple     Red                    95
5  Vegetable         Kale   Green                    34

https://pandas.pydata.org/docs/user_guide/io.html

In [4]:
df.to_clipboard(excel=True, sep='\t')

In [5]:
pd.read_clipboard()

    Category         Food   Color  Calories per serving
0      Fruit  Blueberries    Blue                    42
1      Fruit       Banana  Yellow                   105
2  Vegetable       Carrot  Orange                    26
3  Vegetable     Eggplant  Purple                    10
4      Fruit        Apple     Red                    95
5  Vegetable         Kale   Green                    34

In [6]:
print(df.to_markdown(index=False))

| Category   | Food        | Color   |   Calories per serving |
|:-----------|:------------|:--------|-----------------------:|
| Fruit      | Blueberries | Blue    |                     42 |
| Fruit      | Banana      | Yellow  |                    105 |
| Vegetable  | Carrot      | Orange  |                     26 |
| Vegetable  | Eggplant    | Purple  |                     10 |
| Fruit      | Apple       | Red     |                     95 |
| Vegetable  | Kale        | Green   |                     34 |

Paste the table into this markdown cell:

| Category   | Food        | Color   |   Calories per serving |
|:-----------|:------------|:--------|-----------------------:|
| Fruit      | Blueberries | Blue    |                     42 |
| Fruit      | Banana      | Yellow  |                    105 |
| Vegetable  | Carrot      | Orange  |                     26 |
| Vegetable  | Eggplant    | Purple  |                     10 |
| Fruit      | Apple       | Red     |                     95 |
| Vegetable  | Kale        | Green   |                     34 |

To Excel:
https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Export-to-Excel

In [7]:
df.to_excel(os.path.join(work_path, 'df.xlsx')) # , index=False

In [8]:
df

    Category         Food   Color  Calories per serving
0      Fruit  Blueberries    Blue                    42
1      Fruit       Banana  Yellow                   105
2  Vegetable       Carrot  Orange                    26
3  Vegetable     Eggplant  Purple                    10
4      Fruit        Apple     Red                    95
5  Vegetable         Kale   Green                    34

In [9]:
df.style.highlight_min().set_properties(**{'border': '1.3px solid red','color': 'green'}).to_excel(os.path.join(work_path, 'df_styled.xlsx'), engine='openpyxl')

## Improving a table

The data:

In [36]:
df = pd.DataFrame({'Tier': {0: 'A+', 1: 'A', 2: 'B', 3: 'C', 4: 'D'},
 '# of Accounts': {0: 19, 1: 77,  2: 338, 3: 425, 4: 24},
 '% Accounts': {0: 1.75, 1: 7.08, 2: 31.07, 3: 39.06, 4: 2.21},
 'Revenue ($M)': {0: 3.927, 1: 4.675, 2: 5.984, 3: 2.805, 4: 0.374},
 '% Revenue': {0: 21.0, 1: 25.0, 2: 32.0, 3: 15.0, 4: 2.0}})

Styling an initial version of the table and saving into an html file:

In [54]:
def adjust_style(styler):
    styler.hide() # hide index column

    # formating by html elemnts
    styler.set_table_styles(
        [
            {'selector': '', 'props': 'border-collapse: collapse; border: 2px solid white;'},
            {'selector': 'th, td', 'props': 'border-right: 1px solid black !important; vertical-align: bottom;'},
            {'selector': 'th', 'props': 'font-weight: bold; text-align: center; background-color: #ababab; color: black;'},
            {'selector': 'tbody tr:nth-child(2n)', 'props': 'background-color: #d3d3d3;'},
            {'selector': 'td, th', 'props': 'width: 150px; text-align: right; padding-right: 5px;'}
        ],
        overwrite=True
    )

    styler.set_table_styles(
        {
            'Tier': [{'selector': 'td, th', 'props': 'text-align: center;'}],
        }, overwrite=False
    )


    styler.format({'% Accounts': '{:.2f}', # converting the number instead: {:.2%}
                   '% Revenue': '{:.0f}',
                   'Revenue ($M)': '{:.2f}'
                   }) 

    return styler

df.style.pipe(adjust_style)
df.style.pipe(adjust_style).to_html(os.path.join(work_path, 'client_tier_initial.html'))

Open the saved file in preview mode in a separate window.

The table shows the breakdown of new clients by tier for the recent year.

1. Review the data. What observations can you make? Are there any inconsistencies? Do you have to make any assumptions when interpreting this data?
2. Can you improve the layout of this table?